version: '3'
services:
  frontend:
    build: ./frontend
    ports:
      - '3000:3000'
    environment:
      - REACT_APP_API_BASE_URL=${REACT_APP_API_BASE_URL:-http://backend:5000/api}
    depends_on:
      - backend

  backend:
    build: ./backend
    ports:
      - '5050:5000'
    environment:
      - MONGO_URI=${MONGO_URI}
      - JWT_SECRET=${JWT_SECRET}
    depends_on:
      - mongo

  mongo:
    image: mongo
    ports:
      - '27017:27017'
      - '27018:27017'

  notifications:
    build: ./microservices/notifications
    ports:
      - '3001:3001'

  stock-management:
    build: ./microservices/stock-management
    ports:
      - '3002:3002'
